header {
    background-color: #596e79;
    color: #fff; /* Set text color to white for better contrast */
    padding: 20px; /* Add padding for spacing */
}

/* Style the header text if needed */
header h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(180deg, #cfd9df 0%, #e2ebf0 100%) 0 0/100% 100vh;  */
    background-color:  #d7d2cc; 
    color: #333;
}


/* Style headings with a subtle shadow and increased font size */
h1 {
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Give buttons a 3D effect and a hover effect */
button {
    background-color: #142d4c;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: hsl(211, 96%, 61%);
}

/* Style form elements with rounded corners */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Add a subtle box shadow and transition to input elements on focus */
input:focus {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease;
}

/* Create a table with alternating row colors */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add a hover effect to table rows */
tr:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}
